@import "variables";
.parent {
    &-ctn {
        width: 100%;
        text-align: center;
        color: $white;
        text-align: center;
    }
}

.parent-relatif {
    width: 40%;
    min-height: 400px;
    background: $bluAzur;
    position: relative;
    margin: auto;
}

.enfant-absolue {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background: $red;
}
.product {
    &-ctn {
        width: 6rem;
        display: inline-block;
        vertical-align: top;
        margin: 2rem;
        background: $orangered;
        text-align: center;
    }
    &-label {
        font-weight: bold;
    }
    &-img {
        width: 50%;
    }
    &-price {
        font-style: italic;
        &:after {
            content: "€";
            margin-left: 6px;
        }
    }
}

@media screen and (max-width: $medium) {
    .parent-relatif {
        min-height: 200px;
    }
}

@media screen and (max-width: $large) {
    .parent-relatif {
        min-height: 300px;
    }
}