// Edition des variables de couleurs
$blue: blue;
$bluAzur: #2e8a8a;
$red: red;
$green: green;
$white: white;
$orangered : orangered;

// Edition des variables de tailles
$medium: 768px;
$large: 1024px;